.modal-overlay {
  background: rgba(0,0,0,0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 999;

  @media (max-width: 820px) {
    align-items: flex-end;
  }
}
