.question {
  background: var(--white-details);
  border-radius: 0.5rem;
  box-shadow: 0 2px 12px rgba(0,0,0,0.04);
  padding: 1.5rem;

  & + .question {
    margin-top: 0.5rem;
  }

  &.highlighted {
    background: #f4f0ff;
    border: 1px solid var(--purple);

    footer .user-info span {
      color: #29292e;
    }
  }

  &.answered {
    background: #dbdcdd;
  }

  p {
    color: var(--black);
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;

    .user-info {
      display: flex;
      align-items: center;

      img {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
      }

      span {
        margin-left: 0.5rem;
        color: var(--gray);
        font-size: 0.875rem;
      }
    }

    button {
      border: 0;
      background: transparent;
      cursor: pointer;
      transition: filter 0.2s;

      &.like-button {
        display: flex;
        align-items: flex-end;
        color: var(--gray-dark);
        gap: 0.5rem;

        &.liked {
          color: #8359fd;

          svg path {
            stroke: #8359fd;
          }
        }
      }

      &:hover {
        filter: brightness(0.7);
      }
    }

    > div {
      display: flex;
      gap: 1rem;
    }
  }

  &.dark {
    background: var(--black-dark);

    p {
      color: var(--gray-light);
    }
  }
}