.room-code {
  height: 2.5rem;
  border-radius: 0.5rem;
  overflow: hidden;

  background: var(--white);
  border: 1px solid var(--purple);
  cursor: pointer;

  display: flex;

  div {
    background: var(--purple);
    padding: 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
  }

  span {
    display: block;
    align-self: center;
    flex: 1;
    padding: 0 1rem 0 12px;
    min-width: 17rem;
    font-size: 0.875rem;
    font-weight: 500;
  }

  &.dark {
    background: transparent;
    color: var(--gray-light);

    img {
      filter: invert(1);
    }
  }
}